{% extends 'base.html.twig' %}

{% block body %}
    {% for subject in subjects %}
        <h2>{{ subject.entity.title }}</h2>
        <p>
            {{ subject.stats.cardsCount }} Vokabeln<br>
            {{ subject.stats.score }} Punkte<br>
            {% if subject.stats.lastCycleTime %}
                Zuletzt gelernt: {{ subject.stats.lastCycleTime|date("d.m.Y H:i") }}<br>
            {% endif %}
            <a href="{{ path('cycle', {slug:subject.entity.slug}) }}">Lernen</a><br>
            <a href="{{ path('addCard', {slug:subject.entity.slug}) }}">Karten hinzufügen</a><br>
            <a href="{{ path('cards', {slug:subject.entity.slug}) }}">Karten verwalten</a><br>
        </p>
    {% endfor %}
    <a href="{{ path('addSubject') }}">Neues Fach anlegen</a>
{% endblock body %}